#portfolio {
	height: max-content;
	@include mq($break-med) {
		height: 100vh;
	}
}

.portfolio-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	@include mq($break-smmed) {
		width: 600px;
	}
	@include mq($break-med) {
		margin-top: 13vh;
	}
	@include mq($break-lg) {
		width: 1225px;
		margin-top: auto;
	}
}

.filter-container {
	@include mq($break-med) {
		display: flex;
		justify-content: flex-end;
	}
}

.filter {
	font-family: 'Nunito', sans-serif;
	position: relative;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;
	text-align: center;
	min-width: 190px;
	@include mq($break-med) {
		width: 10vw;
	}
	& p {
		position: absolute;
		padding: 5px 10px;
		background-color: var(--bg-color);
		color: var(--out-of-focus-color);
		left: 7px;
		top: -15px;
		font-size: 14px;
		transition: background-color 0.5s linear;
	}
	& button {
		cursor: pointer;
		font-size: 1.25rem;
		width: 100%;
		padding: 0.5em 1em;
		border-radius: 5px;
		border: 0.25px solid var(--out-of-focus-color);
		outline: none;
		background-color: transparent;
		color: var(--primary-color);
		text-align: left;
		transition: color 0.5s linear, border-color 0.3s;

		&:hover {
			border-color: var(--primary-color);
		}
	}
	&-list {
		position: absolute;
		top: 50px;
		background-color: var(--brighter-bg-color);
		width: 100%;
		border-radius: 15px;
		box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.274);
		padding: 1em 0;
		transition: all 0.4s;
	}
	& li {
		color: var(--primary-color);
		list-style: none;
		line-height: 1.75;
		cursor: pointer;
		&:hover {
			background-color: var(--primary-color);
			color: var(--bg-color);
		}
	}
}

.collapsed {
	opacity: 0;
	overflow: hidden;
	padding: 0;
}

.dropdown-arrow {
	color: var(--primary-color);
	position: absolute;
	right: 20px;
	top: 0px;
	transform: rotate(90deg);
	font-family: 'Catamaran', sans-serif;
	font-size: 2.5rem;
	font-weight: 200;
	transition: color 0.5s linear;
	pointer-events: none;
	transition: transform 0.2s;
	&.up {
		transform: rotate(270deg);
	}
}

.projects {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	@include mq($break-smmed) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@include mq($break-med) {
		display: grid;
		gap: 3em;
		grid-template-rows: repeat(auto-fill, 410px);
		grid-template-columns: repeat(auto-fit, 270px);
	}
}

.project-thumbnail {
	height: 410px;
	width: 270px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	margin-bottom: 4em;
	@include mq($break-med) {
		margin: 0;
	}

	&--info {
		z-index: 0;
	}
	&--title {
		font-weight: 400;
		font-size: 1.5rem;
	}

	&--techstack {
		margin-top: 0.75em;
	}

	& img {
		width: 100%;
		border-radius: 20px;
		transition: transform 0.3s;
	}
	& svg {
		width: 30px;
		height: 30px;
	}
}

.project-links {
	display: flex;
	justify-content: space-between;
	& a {
		text-decoration: none;
		width: 48%;
		text-align: center;
		font-size: 1.1rem;
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
		color: var(--bg-color);
		background-color: var(--button-bg-color);
		padding: 0.3em;
		border-radius: 5px;
		transition: all 0.4s;
		&:hover {
			border: 1px solid var(--button-bg-color);
			color: var(--button-bg-color);
			background-color: var(--bg-color);
		}
	}
}

.project-details {
	position: absolute;
	width: 400px;
	height: 500px;
	border-radius: 20px;
	top: -20px;
	left: -65px;
	z-index: 1;
	background-color: var(--brighter-bg-color);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.5s;
	& img {
		height: 130px;
		object-fit: none;
		opacity: 0.05;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	& p {
		color: var(--primary-color);
	}
	& .project-thumbnail--techstack {
		margin: 0;
	}
	& .project-links {
		justify-content: space-around;
	}
	& a {
		margin-bottom: 20px;
		width: 45%;
	}
}

.project-thumbnail:hover {
	.img-test {
		transform: translateY(-35%) scale(0.8);
		// z-index: 110;
	}
	.project-details {
		opacity: 1;
	}
}

.details-container {
	height: 310px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	padding: 0 2em;
}
