#portfolio {
	height: max-content;
	@include mq($break-med) {
		height: 100vh;
	}
}

.portfolio-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	@include mq($break-med) {
		width: 600px;
	}
	@include mq($break-lg) {
		width: 1225px;
	}
}

.filter-container {
	@include mq($break-med) {
		display: flex;
		justify-content: flex-end;
		// margin: 0 auto;
	}
}

.filter {
	font-family: 'Nunito', sans-serif;
	position: relative;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;
	text-align: center;
	min-width: 190px;
	@include mq($break-med) {
		width: 10vw;
	}
	& p {
		position: absolute;
		padding: 5px 10px;
		background-color: var(--bg-color);
		color: var(--out-of-focus-color);
		left: 7px;
		top: -15px;
		font-size: 14px;
		transition: background-color 0.5s linear;
	}
	& button {
		cursor: pointer;
		font-size: 1.25rem;
		width: 100%;
		padding: 0.5em 1em;
		border-radius: 5px;
		border: 0.25px solid var(--out-of-focus-color);
		outline: none;
		background-color: transparent;
		color: var(--primary-color);
		text-align: left;
		transition: color 0.5s linear, border-color 0.3s;

		&:hover {
			border-color: var(--primary-color);
		}
	}
	&-list {
		position: absolute;
		top: 50px;
		background-color: var(--brighter-bg-color);
		width: 100%;
		border-radius: 15px;
		box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.274);
		padding: 1em 0;
		transition: all 0.4s;
	}
	& li {
		color: var(--primary-color);
		list-style: none;
		line-height: 1.75;
		cursor: pointer;
		&:hover {
			background-color: var(--primary-color);
			color: var(--bg-color);
		}
	}
}

.collapsed {
	opacity: 0;
	overflow: hidden;
	padding: 0;
}

.dropdown-arrow {
	color: var(--primary-color);
	position: absolute;
	right: 20px;
	top: 0px;
	transform: rotate(90deg);
	font-family: 'Catamaran', sans-serif;
	font-size: 2.5rem;
	font-weight: 200;
	transition: color 0.5s linear;
	pointer-events: none;
	&.up {
		transform: rotate(270deg);
	}
}

.projects {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	// margin: 0 auto;
	@include mq($break-med) {
		display: grid;
		gap: 2em 3em;
		grid-template-rows: repeat(auto-fill, 360px);
		grid-template-columns: repeat(auto-fit, 270px);
	}
}

.projects-thumbnail {
	height: 360px;
	width: 270px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	cursor: pointer;
	margin-bottom: 2em;
	@include mq($break-med) {
		margin: 0;
	}

	&--title {
		font-weight: 400;
		font-size: 1.5rem;
	}

	&--techstack {
		margin-top: 0.75em;
	}

	& img {
		width: 100%;
		border-radius: 20px;
	}
	& svg {
		width: 30px;
		height: 30px;
	}
}

.projects-details {
	display: none;
}
