@font-face {
	font-family: 'NeonTubes2-Regular';
	font-display: swap;
	src: url('../Fonts/NeonTubes2/NeonTubes2.otf') format('opentype');
}

@font-face {
	font-family: 'HTNeonW01-Regular';
	font-display: swap;
	src: url('../Fonts/HTNeon/HTNeon.woff2') format('woff2'),
		url('../Fonts/HTNeon/HTNeon.woff') format('woff');
}

@font-face {
	font-family: 'Ink Free';
	font-display: swap;
	src: url('../Fonts/ink-free-normal.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Nunito:wght@300;400&family=Marvel&family=Catamaran:wght@200;300&family=Dosis:wght@200;300;400;500&display=swap');
